.fruteria{
  text-align: center;
}

.container{
  display:flex;
  justify-content: center;
}

.containerTicket{
  border: 1px solid black;
  margin: 5px;
  
}

.listaProductos{
  border: 1px solid black;
  margin: 5px;
}

.producto{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 150px;
  margin: 10px;
  border: 1px solid black;
  background-color: rgb(123, 230, 123);
}

.productoTicket{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 150px;
  margin: 10px;
  border: 1px solid black;
  background-color: rgb(163, 89, 136);
}

.total{
  display:inline-block;
  height: 50px;
  line-height: 50px;
  width: 150px;
  border: 1px solid black;
  margin:10px;
}